ul {
  &.menu {
    list-style: none;
    display: none;
    @include devicebreak(large) {
      display: flex;
    }

    li {
      padding-right: 20px;
      &:last-child {
        padding-right: 0;
      }
      &.search {
        &:before {
          @extend .icon;
          @extend .icon-search;
        }
      }

    }
  }
}