$black : #000;
$white : #fff;
$sb-red : #C8122E;
$sb-black : #0A1118;
$sb-yellow : #EDAB5E;
$sb-grey : #F4F4F4;
$sb-text-grey : #b7bec8;

//fonts
$poppins-light : Poppins-Light;
$poppins-regular : Poppins-Regular;
$poppins-medium : Poppins-Medium;
$poppins-semibold : Poppins-SemiBold;

$icomoon-font-family: "icomoon" !default;