<div class="page-wrapper">
    <!--header-->
    <header class="header">
        <div class="header-logo">
            <img src="images/logo.svg" alt="">
        </div>
        <div class="header-menu">
            <ul class="menu">
                <li class="search"><a href=""> FIND YOUR HOME </a> </li>
                <li class="floor-plans"><a href="">FLOOR PLANS</a></li>
                <li class="news"><a href="">NEWS</a></li>
                <li class="resources"><a href="">RESOURCES</a></li>
                <li class="about-us"><a href="">ABOUT US</a></li>
                <li class="contact-us"><a href="">CONTACT US</a></li>
            </ul>
        </div>
        <div class="phone-call">844-766-HOME(4663)</div>
        <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>
    <!--banner-->
    <div class="banner-wrapper">
        <div class="banner-img">
            <img src="images/banner.jpg" alt="">
        </div>
        <div class="banner-overlay">
            <img src="images/overlay_banner.svg" alt="">
        </div>
        <div class="banner-text">
            <div class="banner-text-wrapper">
                <div class="banner-text-head">
                    Find Your Dream Home
                </div>
                <div class="banner-text-content">
                    Just enter the City, Community or Zip you're looking within and you're off..
                </div>
            </div>

        </div>
    </div>

    <!--content-->
    <div class="main-content">
        <div class="content-block white-bg">
            <div class="content-block-left">
                <div class="image">
                    <img src="images/01.jpg" alt="">
                </div>
            </div>
            <div class="content-block-right">
                <div class="content">
                    <div class="text-head">
                        Building in the Southeast since 2004
                    </div>
                    <div class="text-content">
                        As a regional builder, we know the landscape and climaate of the Southeast better than anyone. With lush, green mountains and sprawling Sandy
                        beaches a short drive away, there is no better place to settle down into your new home.
                    </div>
                    <div class="read-more">
                        KNOW MORE
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block time-line-content grey-bg">
            <div class="content-block-left">
                <div class="time-line">
                    <div class="time-line-head">2018</div>
                    <div class="time-line-text">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod
                    </div>
                </div>
                <div class="time-line">
                    <div class="time-line-head">WINNER!</div>
                    <div class="time-line-text">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod
                    </div>
                </div>
                <div class="time-line">
                    <div class="time-line-head">GREEN TAG SALE</div>
                    <div class="time-line-text">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod
                    </div>
                </div>
            </div>
            <div class="content-block-right">
                <div class="content">
                    <div class="text-head">
                        South Carolina's 2018 Best Home Builder!
                    </div>
                    <div class="text-content">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod.
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block black-bg">
            <div class="content-block-left">
                <div class="content">
                    <div class="text-head">
                        Lorem ipsum dolor sit amet, consetetur
                    </div>
                    <div class="text-content">
                        <ul class="list">
                            <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy</li>
                            <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy</li>
                            <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="content-block-right">
                <div class="image">
                    <img src="images/02.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <footer>
        <div class="logo"><img src="images/logo.svg" alt=""></div>
        <div class="copy-right">©2019 all rights reserved.</div>
        <ul class="menu">
            <li><a href="">Contact Us</a></li>
            <li><a href="">F.A.Q</a></li>
            <li><a href="">Legal Terms</a></li>
            <li><a href="">privacy Policy</a></li>
        </ul>
        <div class="social-media">
            <ul class="menu social-media-icons">
                <li><a href="">FOLLOW US</a></li>
                <li class="facebook"><a href=""></a></li>
                <li class="twitter"><a href=""></a></li>
                <li class="instagram"><a href=""></a></li>
            </ul>
        </div>
    </footer>
</div>